{
	"token":"abcdefghfdfdgsgfsgsdgds",
	"PREFIX":">",
	"additionalMusicDirs":["H:\\WindowsFolder\\Music","/linux/folder"],
	"runIndexerOnStart": true,
	"voiceCommands": {
		"enabled": true
		"picoAccessKey": "abcdefghijklmnopqrstuvwxyz=",
		"rhinoFileName": "yourRhinoFileInsideModelsFolder.rhn",
		"porcupineFileName": "yourPorcupineFileInsideModelsFolder.ppn"
		}
}